node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock
pubspec.lock
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
build/
android/app/debug
android/app/profile
android/app/release